<MudNavMenu>

    <div class="nav-section-label">Utama</div>

    <MudNavLink Href="/"
                Icon="@Icons.Material.Rounded.GridView"
                Match="NavLinkMatch.All">
        Beranda
    </MudNavLink>

    <MudNavLink Href="/kasir"
                Icon="@Icons.Material.Rounded.PointOfSale">
        Kasir
    </MudNavLink>

    <div class="nav-section-label" style="margin-top:8px">Kelola</div>

    <MudNavLink Href="/produk"
                Icon="@Icons.Material.Rounded.Inventory2">
        Produk
    </MudNavLink>

    <MudNavLink Href="/pengeluaran"
                Icon="@Icons.Material.Rounded.Receipt">
        Pengeluaran
    </MudNavLink>

    <MudNavLink Href="/stok"
                Icon="@Icons.Material.Rounded.Warehouse">
        Stok
    </MudNavLink>

    <div class="nav-section-label" style="margin-top:8px">Analitik</div>

    <MudNavLink Href="/laporan"
                Icon="@Icons.Material.Rounded.BarChart">
        Laporan
    </MudNavLink>

    <MudDivider Style="margin: 12px 8px;" />

    <MudNavLink Href="/pengaturan"
                Icon="@Icons.Material.Rounded.Settings">
        Pengaturan
    </MudNavLink>

</MudNavMenu>
